:root {
  --blue-horizon: #d0d4e4;
  --periwinkle-mist: #eceff8;
  --inky-indigo: #292f4c;
  --coal-black: #323338;
  --midnight-navy: #181b34;
  --misty-breeze: #d5d8df;
  --deep-sea: #30324e;
  --electric-blue: #0073ea;
  --verdant-canopy: #00854d;
  --evegreen-depths: #025231;
  --twilight-veil: #4b4e69;
  --crimson-bloom: #bb3354;
  --midnight-slate: #333;
  --vibrant-azure: #47a8d8;
  --soft-snow: #f9f9f9;
  --brilliant-sapphire: #4285f4;
  --pale-silver: #d9d9d9;
  --muted-rose: #9e7070;
  --cool-mint: #c5d6d6;
  --charcoal-black: #202020;

  --pale-aqua: var(--cool-mint);
  --dusty-mauve: var(--muted-rose);
  --light-ash-gray: var(--pale-silver);
  --dynamic-blue: var(--brilliant-sapphire);
  --pure-mist: var(--soft-snow);
  --crystal-blue: var(--vibrant-azure);
  --secondary-background-color-rgb: 48, 50, 78;
  --table-background: var(--deep-sea);
  --color-basic_blue: var(--electric-blue);
  --color-mud_black: var(--coal-black);
  --icicle: var(--blue-horizon);
  --primary-text-color: var(--misty-breeze);
}
:root {
  --red: #EC645E;
  --quartzRed: #E4251B;
  --quartzLightRed: #F64D46;
  --quartzInProgressBackground: #EFEEFF;
  --quartzSuccessBackground: #E4F8E8;
  --quartzWarningBackground: #FFE7DE;
  --quartzErrorBackground: #FAD3D1;
  --quartzInfoBackground: #E9F1FF;
  --waitingRed: #FA5663;
  --teal: #66B8C7;
  --lightTeal: #A7E4E4;
  --darkTeal: #579FAE;
  --deepTeal: #234248;
  --darkerTeal: #437D88;
  --quartzTeal: #447D87;
  --brightTeal: #50FFC9;
  --blue: #6BABD5;
  --blue2: #588CAE;
  --brightBlue: #3C74F3;
  --highlightBlue: #EAF4FD;
  --paleBlue: #C9E9EF;
  --salesforceBlue: #63C5ED;
  --salesforceLight: #65C6EC;
  --salesforceOrange: #FB8A74;
  --salesforcePurple: #9E96E7;
  --salesforceDarkBlue: #38618C;
  --salesforceLeadBlue: #1b96ff;
  --salesforceContactPurple: #9602c7;
  --salesforceAccountPurple: #5867E8;
  --salesforceCampaignOrange: #F49756;
  --salesforceOpportunityYellow: #FBC274;
  --salesforceOpportunityBlue: #024386;
  --salesforceRelatedObjectsPink: #df6184;
  --signalsWarm: #FEA757;
  --border: #E6E9EC;
  --borderGray: #DEDEDE;
  --reportBorder: #EFF1F3;
  --fieldBorder: #DFE3E7;
  --quartzFieldBorder: #D7DDE2;
  --gray: #888F91;
  --lightTextGray: #899093;
  --lighterTextGray: #C8CED0;
  --iconGray: #8A9394;
  --lightGray: #E6E9EC;
  --lighterGray: #F5F6F7;
  --darkGray: #B1B9BF;
  --darkGrayIcon: #7f7f7f;
  --buttonGray: #F5F6F7;
  --panelGray: #F6F9FC;
  --buttonIconPrimary: #58C2D5;
  --buttonIconDisabled: #D7DDE2;
  --green: #79DA8C;
  --green2: #62C776;
  --green3: #57AE68;
  --lightGreen: #55BC9E;
  --darkGreen: #6FC882;
  --salesloftGreen: #06492E;
  --orange: #FB8A74;
  --darkOrange: #FF8558;
  ----lightOrange: rgba(255, 133, 88, 0.15);
  --yellow: #FABF7D;
  --darkYellow: #c4853e;
  --secondaryYellow: #FFD258;
  --purple: #987FDF;
  --darkPurple: #52408A;
  --mediumPurple: #5242A7;
  --brightPurple: #6558FF;
  --lightPurple: #EFEEFF;
  --lightPurpleBorder: #DFE0FF;
  --outreachPurple: #5951FF;
  --lightBackground: #F4F5F8;
  --lighterBackground: #FAFAFA;
  --lightestBackground: #FCFCFC;
  --darkBackground: "rgb(236, 238, 240)";
  --primaryText: #122124;
  --placeholder: #6E7879;
  --backdrop: #0c161d;
  --disabledInput: rgba(0, 0, 0, 0.06);
  --inputBackground: #FFFFFF;
  --microsoftRed: #d83d00;
  --microsoftTeamsBlue: #5558AF;
  --googleBlue: #457ef4;
  --sixsenseGreen: #13bbb2;
  --demandbaseGray: #353944;
  --marketo: #563e94;
  --hubspot: #F8761F;
  --blackPearl: #152229;
  --eloqua: #F80000;
  --white: #FFFFFF;
  --black: #000000;
  --secondaryText: #6E7879;
  --dangerRed: #BE5652;
  --offWhite: #F7F7F7;
  --loadingSpinner: #58c1d5;
  --metallicBlue: #315E7C;
  --darkCharcoal: #333;
  --emerald: #5ec873;
  --lightMagenta: #FC58FF;
  --skyMagenta: #D56BB0;
  --forest: #10596E;
  --appRed: #AE5958;
  --signalsBorder: #C86799;
  --googleSearchBorder: #D7DDE2;
  --g2: #f04729;
  --veryDarkGray: #222222;
  --transparent: "transparent";
  --cyan: #58C2D5;
  --marketingDefault: #008299;
  --marketingHover: #126C7C;
  --marketingActive: #125662;
  --marketingText: #395166;
  --zoom: #2D8CFF;
  --labelGreen: #CCFBE8;
  --labelYellow: #F9E6CF;
  --labelBlue: #E2F4F8;
  background-color: oldl;
}