:root {
  --blue-horizon: #d0d4e4;
  --periwinkle-mist: #eceff8;
  --inky-indigo: #292f4c;
  --coal-black: #323338;
  --midnight-navy: #181b34;
  --misty-breeze: #d5d8df;
  --deep-sea: #30324e;
  --electric-blue: #0073ea;
  --verdant-canopy: #00854d;
  --evegreen-depths: #025231;
  --twilight-veil: #4b4e69;
  --crimson-bloom: #bb3354;
  --midnight-slate: #333;
  --vibrant-azure: #47a8d8;
  --soft-snow: #f9f9f9;
  --brilliant-sapphire: #4285f4;
  --pale-silver: #d9d9d9;
  --muted-rose: #9e7070;
  --cool-mint: #c5d6d6;
  --charcoal-black: #202020;

  --pale-aqua: var(--cool-mint);
  --dusty-mauve: var(--muted-rose);
  --light-ash-gray: var(--pale-silver);
  --dynamic-blue: var(--brilliant-sapphire);
  --pure-mist: var(--soft-snow);
  --crystal-blue: var(--vibrant-azure);
  --secondary-background-color-rgb: 48, 50, 78;
  --table-background: var(--deep-sea);
  --color-basic_blue: var(--electric-blue);
  --color-mud_black: var(--coal-black);
  --icicle: var(--blue-horizon);
  --primary-text-color: var(--misty-breeze);
}
