:root {
  --blue-horizon: #d0d4e4;
  --periwinkle-mist: #eceff8;
  --inky-indigo: #292f4c;
  --coal-black: #323338;
  --midnight-navy: #181b34;
  --misty-breeze: #d5d8df;
  --deep-sea: #30324e;
  --electric-blue: #0073ea;
  --verdant-canopy: #00854d;
  --evegreen-depths: #025231;
  --twilight-veil: #4b4e69;
  --crimson-bloom: #bb3354;
  --midnight-slate: #333;
  --vibrant-azure: #47a8d8;
  --soft-snow: #f9f9f9;
  --brilliant-sapphire: #4285f4;
  --pale-silver: #d9d9d9;
  --muted-rose: #9e7070;
  --cool-mint: #c5d6d6;
  --charcoal-black: #202020;

  --pale-aqua: var(--cool-mint);
  --dusty-mauve: var(--muted-rose);
  --light-ash-gray: var(--pale-silver);
  --dynamic-blue: var(--brilliant-sapphire);
  --pure-mist: var(--soft-snow);
  --crystal-blue: var(--vibrant-azure);
  --secondary-background-color-rgb: 48, 50, 78;
  --table-background: var(--deep-sea);
  --color-basic_blue: var(--electric-blue);
  --color-mud_black: var(--coal-black);
  --icicle: var(--blue-horizon);
  --primary-text-color: var(--misty-breeze);
}
:root {
  --red: #ec645e;
  --quartzRed: #e4251b;
  --quartzLightRed: #f64d46;
  --quartzInProgressBackground: #efeeff;
  --quartzSuccessBackground: #e4f8e8;
  --quartzWarningBackground: #ffe7de;
  --quartzErrorBackground: #fad3d1;
  --quartzInfoBackground: #e9f1ff;
  --waitingRed: #fa5663;
  --teal: #66b8c7;
  --lightTeal: #a7e4e4;
  --darkTeal: #579fae;
  --deepTeal: #234248;
  --darkerTeal: #437d88;
  --quartzTeal: #447d87;
  --brightTeal: #50ffc9;
  --blue: #6babd5;
  --blue2: #588cae;
  --brightBlue: #3c74f3;
  --highlightBlue: #eaf4fd;
  --paleBlue: #c9e9ef;
  --salesforceBlue: #63c5ed;
  --salesforceLight: #65c6ec;
  --salesforceOrange: #fb8a74;
  --salesforcePurple: #9e96e7;
  --salesforceDarkBlue: #38618c;
  --salesforceLeadBlue: #1b96ff;
  --salesforceContactPurple: #9602c7;
  --salesforceAccountPurple: #5867e8;
  --salesforceCampaignOrange: #f49756;
  --salesforceOpportunityYellow: #fbc274;
  --salesforceOpportunityBlue: #024386;
  --salesforceRelatedObjectsPink: #df6184;
  --signalsWarm: #fea757;
  --border: #e6e9ec;
  --borderGray: #dedede;
  --reportBorder: #eff1f3;
  --fieldBorder: #dfe3e7;
  --quartzFieldBorder: #d7dde2;
  --gray: #888f91;
  --lightTextGray: #899093;
  --lighterTextGray: #c8ced0;
  --iconGray: #8a9394;
  --lightGray: #e6e9ec;
  --lighterGray: #f5f6f7;
  --darkGray: #b1b9bf;
  --darkGrayIcon: #7f7f7f;
  --buttonGray: #f5f6f7;
  --panelGray: #f6f9fc;
  --buttonIconPrimary: #58c2d5;
  --buttonIconDisabled: #d7dde2;
  --green: #79da8c;
  --green2: #62c776;
  --green3: #57ae68;
  --lightGreen: #55bc9e;
  --darkGreen: #6fc882;
  --salesloftGreen: #06492e;
  --orange: #fb8a74;
  --darkOrange: #ff8558;
  --lightOrange: rgba(255, 133, 88, 0.15);
  --yellow: #fabf7d;
  --darkYellow: #c4853e;
  --secondaryYellow: #ffd258;
  --purple: #987fdf;
  --darkPurple: #52408a;
  --mediumPurple: #5242a7;
  --brightPurple: #6558ff;
  --lightPurple: #efeeff;
  --lightPurpleBorder: #dfe0ff;
  --outreachPurple: #5951ff;
  --lightBackground: #f4f5f8;
  --lighterBackground: #fafafa;
  --lightestBackground: #fcfcfc;
  --darkBackground: "rgb(236, 238, 240)";
  --primaryText: #122124;
  --placeholder: #6e7879;
  --backdrop: #0c161d;
  --disabledInput: rgba(0, 0, 0, 0.06);
  --inputBackground: #ffffff;
  --microsoftRed: #d83d00;
  --microsoftTeamsBlue: #5558af;
  --googleBlue: #457ef4;
  --sixsenseGreen: #13bbb2;
  --demandbaseGray: #353944;
  --marketo: #563e94;
  --hubspot: #f8761f;
  --blackPearl: #152229;
  --eloqua: #f80000;
  --white: #ffffff;
  --black: #000000;
  --secondaryText: #6e7879;
  --dangerRed: #be5652;
  --offWhite: #f7f7f7;
  --loadingSpinner: #58c1d5;
  --metallicBlue: #315e7c;
  --darkCharcoal: #333;
  --emerald: #5ec873;
  --lightMagenta: #fc58ff;
  --skyMagenta: #d56bb0;
  --forest: #10596e;
  --appRed: #ae5958;
  --signalsBorder: #c86799;
  --googleSearchBorder: #d7dde2;
  --g2: #f04729;
  --veryDarkGray: #222222;
  --transparent: "transparent";
  --cyan: #58c2d5;
  --marketingDefault: #008299;
  --marketingHover: #126c7c;
  --marketingActive: #125662;
  --marketingText: #395166;
  --zoom: #2d8cff;
  --labelGreen: #ccfbe8;
  --labelYellow: #f9e6cf;
  --labelBlue: #e2f4f8;
}
