@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
*,
*::before,
*::after,
html {
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: BlinkMacSystemFont, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", "Figtree", "Poppins", "Noto Sans Hebrew", "Oxygen", "Noto Kufi Arabic", "Noto Sans JP", Arial,
    "Apple Color Emoji", sans-serif;
}
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}
