.table-icon {
  cursor: pointer;
  padding-right: 8px;
  font-size: 24px;
  color: #00c875;
}
table.board-container-view {
  gap: 1rem;
  color: var(--primary-text-color);
  border-collapse: collapse;
  border-spacing: 0;
}
table.board-container-view thead th {
  position: sticky;
  background-color: var(--table-background);
  top: 0;
}

table.board-container-view td,
table.board-container-view th {
  padding: 8px;
}
/* details[open] > summary:first-of-type, */
details.project-board-heading-component > summary::marker {
  color: rgb(223, 47, 74);
  list-style: inside url(/images/icons/rocket.svg) disclosure-closed;
}
details.project-board-heading-component > summary > h3 {
  color: rgb(223, 47, 74);
}
.data-table {
  font-family: "Fraunces", Arial, Helvetica, sans-serif, serif;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: rgba(var(--icicle), 0.97);
  color: var(--color-mud_black);
  overflow: scroll;
}
table.data-table thead th {
  position: sticky;
  background-color: #fff;
  top: 0;
}
.data-table td,
.data-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.data-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.data-table tr:hover {
  background-color: #ddd;
}
.data-table:nth-child(1) {
  border-top-left-radius: 6px;
}
.data-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

td[data-cell-status] {
  color: #fff;
  text-align: center;
}

td[data-cell-status="draft"] {
  background-color: #676879;
}
td[data-cell-status="in_progress"] {
  background-color: #ffcb00;
}
td[data-cell-status="complete"] {
  background-color: #9cd326;
}

td[data-cell-status="none"] {
  color: #000;
  font-weight: bolder;
  background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
}
td[data-cell-status="on_hold"] {
  background-color: var(--ochre);
}
td[data-cell-status="stuck"] {
  background-color: #df2f4a;
}
td[data-cell-status="done"] {
  background-color: #00c875;
}
td[data-cell-status="not_started"] {
  background-color: var(--color-wolf_gray);
}
td[data-cell-status="cancelled"] {
  background-color: var(--asana);
}

/* div.task-status-container {} */
span.status-add-note {
  transition: border-width .3s .2s ease;
}
